* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: Vazirmatn, sans-serif;
    text-align: center;
}

/* لوگو فقط کوچک */
.logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

/* هدر */
.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    border-bottom: 2px solid #00c853;
}
